
<div class="table-responsive" >
    <h1 align="center">Drug Stock</h1>
    <table class="table">

        <tr>   <h3>Add New Batch</h3></tr>
        <tr><td><h3>Select Drug Category</h3></td></tr>
        <tr>
            <td>Drug Category</td>
            <td> <!--<select ng-model="drugcat"
                             name="singleBatch{{$index}}"
                             ng-change="addBatch()";
                             ng-options="singleBatch as singleBatch.Drug_Category for singleBatch in druglist">

                </select>-->
                <select ng-model="Batch.dCategoryName" ng-options=" drug as drug.dCategoryName for drug in dlist" ng-change="loadDet()">
                </select>
            </td>
        </tr>
        <tr><td> <h3>Add Received Drug</h3></td></tr>
        <tr>
            <td>Drug Name</td>
            <td><!--<select ng-model="batch.Drug_Name" ng-options="singleBatch as singleBatch.Drug_Name for singleBatch in druglist">
                </select>-->
                <select ng-model="Batch.dName" ng-options="drug as drug.dName for drug in drlist" >
                </select>

            </td>
        </tr>
        <tr>
            <td>Batch Number</td>
            <td><input type="text" aligm="center" ng-model="Batch.Batch_Number" ></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><!--<select  ng-model="batch.Type" ng-options="singleBatch as singleBatch.Type for singleBatch in druglist">
                </select>-->
                <select ng-model="Batch.dType" ng-options="drug as drug.dType for drug in drlist" ng-change="getTime()">
                </select>
            </td>
        </tr>
        <tr >
            <td>Content</td>
            <td><select  ng-model="Batch.Content" ng-options="cT for cT in content">
            </select></td>
        </tr>
        <tr >
            <td>Content Type</td>
            <td><select  ng-model="Batch.Content_Type" ng-options="cT for cT in contentType">
            </select></td>
        </tr>
        <tr>
            <td>Number of Cartoons</td>
            <td><input type="number" ng-model="Batch.Number_of_Cartoons" align="l">
            </td>
        </tr>
        <tr>
            <td>Number of Cards per Cartoons</td>
            <td><input type="number" ng-model="Batch.Number_of_Cards_per_Cartoon" align="right"></td>
        </tr>
        <tr>
            <td>Number of Tablets per Card</td>
            <td><input type="number" ng-model="Batch.Number_of_Tablets_per_Card" align="right"></td>
        </tr>
        <tr>
            <td> <button class="btn btn-primary" ng-click="calQty()">Calculate Quantity</button></td>
            </td>
        </tr>

        <tr>
            <td>Quantity</td>
            <td><input type="number" ng-model="Batch.Quantity" readonly align="l">
            </td>
        </tr>
        <tr>
            <td>Manufacture Date</td>
            <td><input type="text" ng-model="Batch.Manufacture_Date"  placeholder="DD-MM-YYYY">
            </td>
        </tr>

        <tr>
            <td>Expire Date</td>
            <td><input type="text" ng-model="Batch.Expire_Date" placeholder="DD-MM-YYYY"></td>
        </tr>



        <tr>
            <td> <button class="btn btn-primary" ng-click="addingBtch()">Add Batch</button></td>
            </td>
        </tr>

    </table>


</div>
